//fonts
$project-font:"Space mono";

// font-size
$font-size:18px;

// line height
$line-height: 28px;

// container width
$container-width: 1136px;

$border-radius: 24px;

//main yellow-color
$main-yellow-color:#fcb72b;

//main dark-navy-color
$main-dark-navy:#495567;

//main dim-grey-color
$main-dim-grey:939caa;

//main light-grey-color
$main-light-grey:#e5ecf4;

//main snow-color
$main-snow-color:#f2f5f9;

//main-light-yellow
$main-light-yellow:#fff4df;
